      {{#if plants}}

{{#each plants as |plant|}}
  {{log plant}}
  <div class="database">
  <section class="section" data-id="{{plant.id}}">
    <h6>Plant Species:</h6>
    <h3>
      {{limit plant.plant_species 56}}

      <br>
          {{limit plant.nickname 56}}
    </h3>
    <h6>Fun Facts:</h6>
    <p>
      {{#if plant.facts}}
        {{limit plant.facts 56}}
      {{else}}
        No fun facts provided.
      {{/if}}
    </p>


    <button class="btn-delete" data-id="{{plant.id}}"> Delete Plant </button>
    <button id="btn-update" class="btn-update" data-id="{{plant.id}}"
    data-plant_species="{{plant.plant_species}}" data-nickname="{{plant.nickname}}"
    data-facts="{{plant.facts}}"> Update Plant </button>
  </section>
</div>
{{/each}}

{{else}}
Click "Add Plants" button to begin adding plant species & facts!
{{/if}}
